@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville:wght@400;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(//db.onlinewebfonts.com/c/e8e79179db1d77cb681cc65836ddbacc?family=AlverataInformalW01-Regular);

/* @font-face {font-family: "AlverataInformalW01-Regular"; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}


a {
    text-decoration: none;
    color: #1A1A1A;
}

a:hover {
    transition-duration: 0.5s;
    font-weight: bolder;
    transition-property: color;
    color: #D35959;
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Great Vibes', cursive;
    color: #800000;
}

/* Bienvenue sur Belles demeures */
.belles-demeures {
    font-family: 'Great Vibes', cursive;
    margin-left: 1rem;
    font-size: 3rem;
}

/* ------------------------PC : Bouton Back to top--------------------- */

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #800000;
    /* Set a background color */
    color: #ffffff;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #1A1A1A;
    /* Add a dark-grey background on hover */
}
/* ----------------------------PC : Section navbar--------------------- */
#navbar {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    gap: 1%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: #ffffffb7;
    height: 15vh;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-logo {
    display: inline-block;
    margin: auto;
}

#nav-social {
    margin: auto;
    font-size: 2rem;
}

#fa-social {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* ----------------------------PC : Section video--------------------- */

#top-video {
    background: linear-gradient(#8000004e, #ffffff00);
    height: 115vh;
    z-index: 0;
}

.video-clip {
    position: absolute;
    top: 0;
    z-index: -1;
}

/* ----------------------------PC : titre sur video--------------------- */

#title-over-video {
    position: absolute;
    top: 35%;
    left: 15%;
}

.button-over-video {
    display: flex;
    justify-content: space-around;
}
.button-over-video{
    text-align: center;
}
/* ----------------------------PC : boutons sur video--------------------- */
.button-top {
    appearance: none;
    background-color: #ffffff62;
    border: 2px solid #800000;
    border-radius: 15px;
    box-sizing: border-box;
    color: #800000;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-top:disabled {
    pointer-events: none;
}

.button-top:hover {
    color: #fff;
    border: none;
    background-color: #1A1A1A;
    box-shadow: #00000040 0 8px 15px;
    transform: translateY(-2px);
}

.button-top:active {
    box-shadow: none;
    transform: translateY(0);
}


/* -----------------------PC : presentation et service--------------------- */

img.chalet {
    margin-right: 5%;
}

.presentation-image {
    display: flex;
    padding: 1% 10%;
}

.presentation-image div {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.presentation-image p {
    margin-bottom: 2rem;
    text-align: justify;
}

.turlututu {
    text-align: center;
}

/* ----------------------------PC : nos valeurs--------------------- */
.our-values h2 {
    text-align: center;
}
.values-list {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.values-list p {
    padding: 0 2% 2% 2%;
    text-align: justify;
    font-size: 0.85rem;
}

/* ----------------------------PC : gallery--------------------- */

#gallery {
    padding: 1%;
    background-color: #1A1A1A;
}
#gallery h2 {
    color: #fff;
    text-align: center;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* ----------------------------PC : formulaire--------------------- */


#form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A1A1A;
    color: #fff;
    padding: 3%;
}

#form div:nth-child(2) {
    flex-basis: 10%;
}

.fa-paper-plane {
    font-size: 2rem;
    margin-right: 1rem;
}

#form>div{
    flex-basis: 10%;
}
/* align logo plane */
#form i {
    vertical-align: middle;
}

#form h2 {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

/* margin form text */

#form input[type="text"] {
    margin-bottom: 15px;

}

form div {
    display: flex;
    justify-content: space-between;
}

.name-last-name {
    white-space: nowrap;
}

#email, #message {
    width: 600px;
}

#message {
    height: 100%;
}

#form img {
    width: 100%;
}

/* ----------------------------PC : footer--------------------- */

footer {
    display: flex;
    padding: 3%;
    background-color: #424242;
    color: #fff;
}

footer a {
    color: #fff;
}

footer>div {
    margin: auto;
    margin-left: 10%;
    flex-basis: 50%;
}

.list-footer {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 4%;
    margin-bottom: 4%;
}

.list-footer p {
    margin-left: 1%;
    margin-right: 1%;
    margin: auto;
}

.footer-social {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo-footer {
    display: block;
    margin: auto;
}

.div-footer-social {
    text-align: center;
}
/* ----------------------------PC : card--------------------- */

/* .card {
    width: 300px;
    height: 450px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000080;
    overflow: hidden;
    margin: 5%; 
    padding: 1%;
    display: inline-block;
    position: absolute;
    top: 1000px;
    left: 500px;
} */

/* ----------------------items desactivé  sur PC--------------------- */

.top-nav-mobile, .mobile, .tablet, #title-over-video img:first-child {
    display: none;
}

/* ----------------------------MQ smartphone--------------------- */

@media screen and (max-width: 768px) {

/* ---------------MOBILE : items desactivé  sur smartphone----------------- */
    #navbar, video, .button-over-video a:nth-child(2), .chalet, #title-over-video h3, #top-video {
        display: none;
    }

    a {
        color: #fff;
    }
    h1 {
        color: #fff;
        font-size: 2rem;    
    }
    
    h3 {
        font-size: 1.5rem;
        color: #fff; 
    }
    
    h2 {
        font-family: 'Great Vibes', cursive;
        color: #800000;
    }
    
    p{
        font-size: 14px;
        text-align: initial;
        margin: 1% 0%;
    }

/* ------------------------MOBILE : NavBar mobile--------------------- */
.top-nav-mobile {
    position: sticky;
    z-index: 99;       
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #020024 0%, #800000 35%, #ffa5a5 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 10px;
    padding: 2em;
    top:0px;
}

.menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    margin-top: 63px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu>li {
    margin: 0 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: #ffffff00;
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


.menu-button-container {
    display: flex;
}


#menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}


.menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
}


/* -----------------------MOBILE : titre sur image TOP--------------------- */
    #title-over-video img:first-child {
        display: block;
    }

    #title-over-video {
        margin: 0;
        padding: 0;
        
        position: block;
        top: 20%;
    }

/* ---------------------MOBILE : boutons sur image TOP--------------------- */

    .button-over-video {
        margin-top: 300px;
        margin-left: -50px;
        display: block;
    }

/* --------------------------MOBILE : image TOP --------------------- */
    
    .pic-top-mobile {
        position: absolute;
        display: block;
        width: 100%;
    }
    
    #top-screen-mobile {
        height: 95vh;
        background: linear-gradient(#8000004e, #ffffff00);
    }
    
    
/* --------------------------MOBILE : nos valeurs --------------------- */ 
    .our-values>h2{
        margin-top: 2rem;
    }
    .values-list {
        margin: 5%;
        display: block;
    }
    
    
/* -----------------------MOBILE : formulaire --------------------- */ 

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    #form {
        padding: 10%;
    }

    #form, form div{
        display: block;
    }
    .button-form {
        background-color: #800000; /* Green */
        border: 2px solid ;
        border-radius: 15px;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        margin-left: 180px;
      }

    #email, #message {
        width: 100%;
    }
    #message {
        height: 100px;
    }
/* -------------------------MOBILE : footer --------------------- */ 
    footer>div {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 150px;
    }
    .div-footer-social {
        display: flex;
    }
}

