@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Libre+Baskerville:wght@400;700&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(//db.onlinewebfonts.com/c/e8e79179db1d77cb681cc65836ddbacc?family=AlverataInformalW01-Regular);

/* @font-face {font-family: "AlverataInformalW01-Regular"; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}



/* début Maxime */

a {
    text-decoration: none;
    color: rgb(54, 54, 54);
}

h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

h3 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.belles-demeures {
    font-family: 'Great Vibes', cursive;
    margin-left: 1rem;
    font-size: 3rem;
}

#navbar {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    gap: 1%;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: #ffd9d94b;
    height: 15vh;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

.fa-house {
    font-size: 2rem;
}

.nav-logo {
    display: inline-block;
    margin: auto;
}

#nav-social {
    margin: auto;
    font-size: 2rem;
}

#fa-social {
    margin-left: 1rem;
    margin-right: 1rem;
}


#top-video {
    background: linear-gradient(#80000038, #ffffff00);
    height: 115vh;
    z-index: 0;
}
.video-clip {
    position: absolute;
    top: 0;
    z-index: -1;
}

#title-over-video {
    position: absolute;
    top: 35%;
    left: 15%;
}

.button-over-video {
    display: flex;
    justify-content: space-around;
}


.button-top {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #1A1A1A;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
  }
  
  .button-top:disabled {
    pointer-events: none;
  }
  
  .button-top:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-top:active {
    box-shadow: none;
    transform: translateY(0);
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #800000; /* Set a background color */
    color: #ffffff; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

/* #sect-intro-and-value {

} */
img.chalet {
    margin-right: 5%;
}
.presentation-image {
    display: flex;
    padding: 1% 10%;
}

.presentation-image div {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.presentation-image p {
    margin-bottom: 2rem;
    text-align: justify;
}

.our-values h2{
    text-align: center;
}

.values-list {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.values-list p {
    padding: 0 2% 2% 2%;
    text-align: justify;
    font-size: 0.85rem;
}



/* fin Maxime */

/* début Marine */

/* gallerie */

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
}



.column {
  -ms-flex: 33%; 
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}



@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
  

/* fin Marine */


/* début Flore */
footer {
    display: flex;
    padding: 3%;
    background-color: #1A1A1A;
    color: #fff;

}
footer>div {
    margin: auto;
    margin-left: 10%;
    width: 50%;
}
.list-footer {
    display: flex;
    list-style: none;
    justify-content: space-around; 
    margin-top: 4%;
    margin-bottom: 4%;
     
}
.list-footer p {
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}
.footer-social {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.logo-footer {
    margin-left: 48%;
    display: block;
}

.div-footer-social {
    text-align: center;
}
/* fin Flore */
